{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 border-right">
    <h1>Leave a Review</h1>
    <div class="p-3 py-5">
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="container">
                <form action="" autocomplete="off" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <fieldset>
                            {{ form.title.label }}
                            {{ form.title(class='form-control', placeholder='Title') }}
                        </fieldset>
                        <br>
                        <fieldset>
                            {{ form.content.label }}
                            {{ form.content(class='form-control', placeholder='Content') }}
                        </fieldset>
                    </div>
                    <br>
                    {{ form.submit(class='btn btn-primary') }}
                </form>
            </div>
        </div>
    </div>
</div>


<!-- couldnt get footer to stick to bottom so this was my workaround -->
<div class="p-md-5"></div>
<div class="p-md-5"></div>
<div class="p-md-5"></div>
<div class="p-md-2"></div>



{% endblock content %}