<footer class="footer-fixed-bottom mt-auto text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" style="color: cornflowerblue;" href="https://www.facebook.com" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" style="color: dodgerblue;" href="https://twitter.com" role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" style="color:rebeccapurple;" href="https://www.instagram.com" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
        
      </section>
      <!-- Section: Social media -->
      <a href="/">Back to top</a></p>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 text-secondary" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-secondary" href="https://mdbootstrap.com/">BeRecordingStudio.com</a>
    </div>
  
  </footer>