{% extends 'base.html' %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide pb-4" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button> -->
    </div>
    <div class="carousel-inner rounded-3">
      <div class="carousel-item active">
        <img src="../static/faders.jpg" class="d-block w-100" alt="First Slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Committed to Excellence</h3>
          <p>The transformative experience at BE Music Studios is designed to help our clients grow. Our passionate and skilled team is here to help you make an impact on the world. Are you ready to reach your potential?</p>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <img src="../static/vu_meters.jpg" class="d-block w-100" alt="Second Slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Committed to Excellence</h3>
          <p>The transformative experience at BE Music Studios is designed to help our clients grow. Our passionate and skilled team is here to help you make an impact on the world. Are you ready to reach your potential?</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/piano.jpg" class="d-block w-100" alt="Third Slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Committed to Excellence</h3>
          <p>The transformative experience at BE Music Studios is designed to help our clients grow. Our passionate and skilled team is here to help you make an impact on the world. Are you ready to reach your potential?</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/condenser_mic.jpg" class="d-block w-100" alt="Fourth Slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Committed to Excellence</h3>
          <p>The transformative experience at BE Music Studios is designed to help our clients grow. Our passionate and skilled team is here to help you make an impact on the world. Are you ready to reach your potential?</p>
        </div>
      </div> -->
      <div class="carousel-item">
        <img src="../static/recording.jpg" class="d-block w-100" alt="Fifth Slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Committed to Excellence</h3>
          <p>The transformative experience at BE Music Studios is designed to help our clients grow. Our passionate and skilled team is here to help you make an impact on the world. Are you ready to reach your potential?</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

  <hr class="">

  <div class="p-2 mb-2  rounded-3 text-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../static/neve_console.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;">
    <div class="container-fluid py-2">
      <h1 class="display-5 fw-bold text-light">Our Team</h1>
        <p class="text text-light">With creativity and ingenuity we are here to guide you.</p>
    </div>
  </div>

  <hr class="">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container team">

      <div class="row">

        <div class="col-lg-6">
          <img class="rounded-circle" src="../static/bar_rot.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Baruch Rotbart</h2>
          <h5>Music Production, Sound Design, Mixing & Mastering</h5>
          <p>Baruch's care and love for music shows through his devotion to his work. An alumn of Flashpoint College, he has been trained meticulously and has refined skills in Recording Arts, Audio Engineering, Sound Design, and Post Production. For the last seven years he has honed his production skills in Electronic Music, Hip Hop, and Indie. Baruch's vision is to bridge the gap between artistry and craft allowing people to unlock their own potential.</p>
          
        </div>

        <div class="col-lg-6">
          <img class="rounded-circle" src="../static/eli_gold.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Eli Gold</h2>
          <h5>Drums, Guitar, Piano, Music Production</h5>
          <p>Eli’s excitement and passion for music is infectious. He holds a Bachelor of Music in Contemporary, Urban, and Popular Music from Columbia College Chicago. Since high school he has played in a variety of different bands and ensembles ranging in style from latin jazz, pop, gospel, world music, and electronic music as well. Eli’s goal is to bring his experience and knowledge of these genres together to build a solid foundation for effective, young musicians.</p>
          
        </div>

      </div>


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Music Lessons. <span class="text-muted">Learn from the best!</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto rounded-circle" data-src="holder.js/500x500/auto" alt="500x500" src="../static/piano.jpg" style="width: 500px; height: 500px;" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Recording Sessions. <span class="text-muted">Get the perfect sound.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto rounded-circle" data-src="holder.js/500x500/auto" alt="500x500" src="../static/condenser_mic.jpg" style="width: 500px; height: 500px;" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Mixing & Mastering. <span class="text-muted">The final polish.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto rounded-circle" data-src="holder.js/500x500/auto" alt="500x500" src="../static/vu_meters.jpg" style="width: 500px; height: 500px;" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

    </div>



  {% endblock content %}
