{% extends 'base.html' %}

{% block content %}

<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-1-strong border-secondary" style="border-radius: 2rem;">
            <div class="card-body p-5 text-center" style="border-radius: 2rem; background-image: url(../static/compressors_forms_bg.jpg); background-size: cover;">
  
              <form class="rounded m-4" action="" method="post" novalidate >

                {{ form.csrf_token }}

                <h3 class="mb-5 text-light">Sign in</h3>
    
                <div class="form-outline mb-4">
                  {{ form.username.label(class='text-light fw-bolder') }}<br>
                  {{ form.username(class='form-control', placeholder='Username', size=32) }}
                  {% for error in form.username.errors %}
                  <span style="color:white;">[{{ error }}]</span>
                  {% endfor %}
                </div>
    
                <div class="form-outline mb-4">
                  {{ form.password.label(class='text-light fw-bolder') }}<br>
                  {{ form.password(class='form-control', placeholder='Password', size=32) }}
                  {% for error in form.username.errors %}
                  <span style="color: white;">[{{ error }}]</span>
                  {% endfor %}
                </div>
    
                <!-- Checkbox -->
                <div class="d-flex justify-content-start mb-4 ">
                  
                  {{ form.remember_me() }}

                  {{ form.remember_me.label(class='text-light fw-bolder') }}
                </div>
    
                <!-- <button class="btn btn-secondary btn-lg btn-block" type="submit">Login</button> -->
                  {{ form.submit(class='btn btn-secondary') }}  

              </form>
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}