  <!-- <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom border-secondary">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none"> -->
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vinyl" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM4 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0z"></path>
            <path d="M9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
        </svg> 
        <span class="fs-4">&nbsp BE Studios</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/services" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="/booking" class="nav-link">Booking</a></li>
      </ul>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu ms-auto" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Register</a></li>
          <li><a class="dropdown-item" href="#">Log In</a></li> -->
          <!-- <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li> -->
        <!-- </ul>
      </li>
    </header>
  </div> -->

  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <!-- <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
        <svg class="bi me-2" style="color: blue;" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a> -->
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vinyl" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM4 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0z"></path>
            <path d="M9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
        </svg> 
        <span class="fs-4 text-primary">&nbsp BE Studios</span>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/about" class="nav-link px-2 link-light">About</a></li>
        <li><a href="/services" class="nav-link px-2 link-light">Services</a></li>
        <li><a href="/booking" class="nav-link px-2 link-light">Booking</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="/signin">
          <button type="button" class="btn btn-outline-primary me-2">Login</button>
        </a>
        <a href="/signup">
          <button type="button" class="btn btn-primary">Sign Up</button>
        </a>

      </div>
    </header>
  </div>