{% extends 'base.html' %}

{% block content %}

<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-1-strong border-secondary" style="border-radius: 2rem;">
            <div class="card-body p-5 text-center" style="border-radius: 2rem; background-image: url(../static/compressors_forms_bg.jpg); background-size: cover;" >
  
                
                <form class="rounded m-4" action="" method="post" >
                    
                  {{ form.csrf_token }}
                  
                  <h3 class="mb-5 text-light fw-bolder">Register</h3>

                    <div class="form-outline mb-4">
                        
                        {{ form.username.label(class='text-light fw-bolder') }}
                        {{ form.username(class='form-control', placeholder='Username') }}
                        {% for error in form.username.errors %}
                        <span style="color:white;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    
                    <div class="form-outline mb-4">
                        
                        {{ form.email.label(class='text-light fw-bolder') }}
                        {{ form.email(class='form-control', placeholder='Email') }}
                        {% for error in form.email.errors %}
                        <span style="color:white;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

        
                    <div class="form-outline mb-4">
                        
                        {{ form.password.label(class='text-light fw-bolder') }}
                        {{ form.password(class='form-control', placeholder='Password') }}
                        {% for error in form.password.errors %}
                        <span style="color:white;">[{{ error }}]</span>
                        {% endfor %}

                    </div>

                    <div class="form-outline mb-4">
                        
                        {{ form.confirm_pass.label(class='text-light fw-bolder') }}
                        {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}
                        {% for error in form.confirm_pass.errors %}
                        <span style="color:white;">[{{ error }}]</span>
                        {% endfor %}

                    </div>
        
                    <!-- <button class="btn btn-secondary btn-lg btn-block" type="submit">Login</button> -->
                    {{ form.submit(class='btn btn-secondary') }}
                </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}