{% extends 'base.html' %}

{% block content %}

<div class="container ">
    <div class="row pb-5">
      <div class="col-lg-3 ">
        <img class="rounded-circle" src="../static/DAW_LOGOS_large.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Daw Production</h2>
        <h5>Ableton Live, Pro Tools, Logic Pro</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, possimus provident! Quibusdam aut voluptatibus sequi maiores laborum unde, expedita odit libero laboriosam id ut omnis. Odit iste dolores quibusdam odio.</p>
      </div>
      <div class="col-lg-3">
        <img class="rounded-circle" src="../static/electric_guitar.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Guitar Lessons</h2>
        <h5>Beginner - Advanced</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, possimus provident! Quibusdam aut voluptatibus sequi maiores laborum unde, expedita odit libero laboriosam id ut omnis. Odit iste dolores quibusdam odio.</p>        
      </div>
      <div class="col-lg-3">
        <img class="rounded-circle" src="../static/piano_lesson.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Piano Lessons</h2>
        <h5>Beginner - Advanced</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, possimus provident! Quibusdam aut voluptatibus sequi maiores laborum unde, expedita odit libero laboriosam id ut omnis. Odit iste dolores quibusdam odio.</p>        
      </div>
      <div class="col-lg-3">
        <img class="rounded-circle" src="../static/drum_lesson.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Drum Lessons</h2>
        <h5>Beginner - Advanced</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, possimus provident! Quibusdam aut voluptatibus sequi maiores laborum unde, expedita odit libero laboriosam id ut omnis. Odit iste dolores quibusdam odio.</p>        
      </div>
    </div>
  
    <div class="row pb-lg-5">
        <div class="col-lg-3">
          <img class="rounded-circle" src="../static/soundwave.jpeg" alt="Generic placeholder image" width="140" height="140">
          <h2>Sound Design</h2>
          <h5>Synthesis, Post Production, Foley</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, possimus provident! Quibusdam aut voluptatibus sequi maiores laborum unde, expedita odit libero laboriosam id ut omnis. Odit iste dolores quibusdam odio.</p>          
        </div>  
        <div class="col-lg-3">
          <img class="rounded-circle" src="https://images.unsplash.com/photo-1567596388756-f6d710c8fc07?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="Generic placeholder image" width="140" height="140">
          <h2>Recording</h2>
          <h5>Vocals - Full Band</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, possimus provident! Quibusdam aut voluptatibus sequi maiores laborum unde, expedita odit libero laboriosam id ut omnis. Odit iste dolores quibusdam odio.</p>          
        </div>        
        <div class="col-lg-3">
          <img class="rounded-circle" src="../static/mixing_session.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Mixing</h2>
          <h5>Podcasts - Full Tracks</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, possimus provident! Quibusdam aut voluptatibus sequi maiores laborum unde, expedita odit libero laboriosam id ut omnis. Odit iste dolores quibusdam odio.</p>          
        </div>  
        <div class="col-lg-3">
          <img class="rounded-circle" src="../static/mastering_session.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Mastering</h2>
          <h5>Podcasts - Full Tracks</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, possimus provident! Quibusdam aut voluptatibus sequi maiores laborum unde, expedita odit libero laboriosam id ut omnis. Odit iste dolores quibusdam odio.</p>          
        </div>  
      </div>
</div>


{% endblock content %}